body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    padding: 30px;
    border: 1px solid #333;
    margin: 20px;
  }
  
  .item {
    background-color: steelblue;
    color: white;
    padding: 20px 40px;
    border-radius: 6px;
    text-align: center;
  }
  